*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Source Sans 3","Poppins","Source Code Pro", sans-serif;
    font-weight: 400;
}
.rich_orange{
    background-color: #eb9d0b !important;
}
.dark_blue_custom {
    background-color: #144F9A;
}
.nav_component{
    background-color: transparent;
    border: transparent 1px solid;
    transition: all 0.2s ease-in-out;
    a{
        color: black;
        }
    overflow: hidden;
}

.nav_component:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.nav_drop_style:hover {
    background-color: rgb(75, 75, 75);
    transition: all .3s ease-in-out;
    border-radius: 30px;

}

.icons {
    max-width: 2rem;
    max-height: 2rem;
}

.notify_user{
    display: none;
}
@media  screen and (max-width: 1000px) {
    .screen_support{
        display: none;
    }
    .screen_support::after{
        content: "This device is not supported by our application sorry.";
    }
    .notify_user{
        background-color: #FF7C0F !important;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1{
            font-size: 3rem;
            text-align: center;
        }
    }
}